@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

.audio-background {
  display: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #18181B;
}

.navigator {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
    transition: all .3s ease;
}

.nav-logo:hover {
    transform: scale(1.2);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}
  
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: all .3s ease;
}
  
.link a:hover::after{
    width: 80%;
}

.container {
    background-image: url(../gallery/wallpaperflare.com_wallpaper\ \(10\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #ffffff;
    z-index: -100;
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.blog-heading span {
    color: #ffffff;
}

.blog-heading h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.blog-heading h3 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.blog-box {
    width: 350px;
    background-color: #fff;
    border: 1px solid #5487ff;
    margin: 20px;
    transition: all ease .3s;
}

.blog-box:hover {
    transform: scale(1.05);
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #1d3f8f;
    font-size: .9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #18181B;
}

.blog-text .blog-title:hover {
    color: #5487ff;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: .9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog-text a {
    color: #18181B;
}

.blog-text a:hover {
    color: #1d3f8f;
    transition: all ease .3s;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    font-size: .8rem;
    color: #fff;
    text-align: center;
}